In [1]:
import psycopg2
import pandas as pd
import plotly.express as px
import requests
import json

### DATAFRAME CREATION

In [2]:


# sql connection

mydb = psycopg2.connect(host= "localhost",
                        user = "postgres",
                         port = "5432",
                          database = "Ppe_data",
                           password = "root" )

cursor = mydb.cursor()


#aggregated_transaction_dataframe

cursor.execute("SELECT * FROM aggregated_transaction")
mydb.commit()
Table1 = cursor.fetchall()

A_transaction = pd.DataFrame(Table1, columns = ("States", "Years", "Quarter", "Transaction_type",
                                                "Transaction_count", "Transaction_amount" ))

#aggregated_insurance_dataframe

cursor.execute("SELECT * FROM aggregated_insurance")
mydb.commit()
Table2 = cursor.fetchall()

A_insurance = pd.DataFrame(Table2, columns = ("States", "Years", "Quarter", "Transaction_type",
                                                "Transaction_count", "Transaction_amount" ))

#aggregated_user_dataframe

cursor.execute("SELECT * FROM aggregated_user")
mydb.commit()
Table3 = cursor.fetchall()

A_user = pd.DataFrame(Table3, columns = ("States", "Years", "Quarter", "Brands",
                                                "Transaction_count", "Percentage" ))

#map_transaction_dataframe

cursor.execute("SELECT * FROM map_transaction")
mydb.commit()
Table4 = cursor.fetchall()

M_transaction = pd.DataFrame(Table4, columns = ("States", "Years", "Quarter", "Districts",
                                                "Transaction_count", "Transaction_amount" ))

#map_insurance_dataframe

cursor.execute("SELECT * FROM map_insurance")
mydb.commit()
Table5 = cursor.fetchall()

M_insurance = pd.DataFrame(Table5, columns = ("States", "Years", "Quarter", "Districts",
                                                "Transaction_count", "Transaction_amount" ))

#map_user_dataframe

cursor.execute("SELECT * FROM map_user")
mydb.commit()
Table6 = cursor.fetchall()

M_user = pd.DataFrame(Table6, columns = ("States", "Years", "Quarter", "Districts",
                                                "RegisteredUsers", "AppOpens" ))

#top_transaction_dataframe

cursor.execute("SELECT * FROM top_transaction")
mydb.commit()
Table7 = cursor.fetchall()

T_transaction = pd.DataFrame(Table7, columns = ("States", "Years", "Quarter", "Pincodes",
                                                "Transaction_count", "Transaction_amount" ))

#top_insurance_dataframe

cursor.execute("SELECT * FROM top_insurance")
mydb.commit()
Table8 = cursor.fetchall()

T_insurance = pd.DataFrame(Table8, columns = ("States", "Years", "Quarter", "Pincodes",
                                                "Transaction_count", "Transaction_amount" ))

#top_user_dataframe

cursor.execute("SELECT * FROM top_user")
mydb.commit()
Table9 = cursor.fetchall()

T_user = pd.DataFrame(Table9, columns = ("States", "Years", "Quarter", "Pincodes",
                                                "RegisteredUsers" ))

### AGGREGATED FUNCTIONS

In [3]:
def transaction_amount_count_Y(df, year):

    tacy = df[df["Years"] == year]
    tacy.reset_index(drop=True, inplace=True)

    tacy_group = tacy.groupby("States")[["Transaction_count", "Transaction_amount"]].sum()
    tacy_group.reset_index(inplace=True)

    fig_amount = px.bar(tacy_group, x="States", y= "Transaction_amount", title= f"{year} TRANSACTION AMOUNT", color_discrete_sequence= px.colors.sequential.Bluered)
    fig_amount.show()

    fig_count = px.bar(tacy_group, x="States", y= "Transaction_count", title= f"{year} TRANSACTION COUNT", color_discrete_sequence= px.colors.sequential.BuGn_r)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)

    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
    states_name.sort()

    fig_india_1 = px.choropleth(tacy_group, geojson=data1, locations="States", 
                                featureidkey="properties.ST_NM", 
                                color="Transaction_amount", 
                                color_continuous_scale="Rainbow", 
                                range_color=(tacy_group["Transaction_amount"].min(), tacy_group["Transaction_amount"].max()), 
                                hover_name= "States", title=f"{year} TRANSACTION AMOUNT", fitbounds= "locations", 
                                height= 600, width= 600)
   
    fig_india_1.update_geos(visible=False)
    fig_india_1.show()

    fig_india_2 = px.choropleth(tacy_group, geojson=data1, locations="States", 
                                featureidkey="properties.ST_NM", 
                                color="Transaction_count", 
                                color_continuous_scale="Rainbow", 
                                range_color=(tacy_group["Transaction_count"].min(), tacy_group["Transaction_count"].max()), 
                                hover_name= "States", title=f"{year} TRANSACTION COUNT", fitbounds= "locations", 
                                height= 600, width= 600)
   
    fig_india_2.update_geos(visible=False)
    fig_india_2.show()


    return tacy

In [4]:
def transaction_amount_count_Y_Q(df, quarter):

    tacy = df[df["Quarter"] == quarter]
    tacy.reset_index(drop=True, inplace=True)

    tacy_group = tacy.groupby("States")[["Transaction_count", "Transaction_amount"]].sum()
    tacy_group.reset_index(inplace=True)

    fig_amount = px.bar(tacy_group, x="States", y= "Transaction_amount", title= f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT", color_discrete_sequence= px.colors.sequential.Bluered)
    fig_amount.show()

    fig_count = px.bar(tacy_group, x="States", y= "Transaction_count", title= f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT", color_discrete_sequence= px.colors.sequential.BuGn_r)
    fig_count.show()

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    response = requests.get(url)
    data1 = json.loads(response.content)

    states_name = []
    for feature in data1["features"]:
        states_name.append(feature["properties"]["ST_NM"])
    states_name.sort()

    fig_india_1 = px.choropleth(tacy_group, geojson=data1, locations="States", 
                                featureidkey="properties.ST_NM", 
                                color="Transaction_amount", 
                                color_continuous_scale="Rainbow", 
                                range_color=(tacy_group["Transaction_amount"].min(), tacy_group["Transaction_amount"].max()), 
                                hover_name= "States", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT", fitbounds= "locations", 
                                height= 600, width= 600)
   
    fig_india_1.update_geos(visible=False)
    fig_india_1.show()

    fig_india_2 = px.choropleth(tacy_group, geojson=data1, locations="States", 
                                featureidkey="properties.ST_NM", 
                                color="Transaction_count", 
                                color_continuous_scale="Rainbow", 
                                range_color=(tacy_group["Transaction_count"].min(), tacy_group["Transaction_count"].max()), 
                                hover_name= "States", title=f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT", fitbounds= "locations", 
                                height= 600, width= 600)
   
    fig_india_2.update_geos(visible=False)
    fig_india_2.show()

    return tacy

In [5]:
def Agg_tran_type(df, state):


    tacy = df[df["States"] == state]
    tacy.reset_index(drop=True, inplace=True)

    tacy_group = tacy.groupby("Transaction_type")[["Transaction_count", "Transaction_amount"]].sum()
    tacy_group.reset_index(inplace=True)

    fig_pie_1 = px.pie(data_frame= tacy_group, names= "Transaction_type", values= "Transaction_amount",
                            width= 600, title= f"{state.upper()} TRANSACTION AMOUNT", hole= 0.5,)
    fig_pie_1.show()

    fig_pie_2 = px.pie(data_frame= tacy_group, names= "Transaction_type", values= "Transaction_count",
                            width= 600, title= f"{state.upper()} TRANSACTION COUNT", hole= 0.5,)
    fig_pie_2.show()

In [6]:
def Agg_user_plot_1(df, year):
    A_user_Y  = df[df["Years"] == year]
    A_user_Y.reset_index(drop= True, inplace= True)

    A_user_Y_group = pd.DataFrame(A_user_Y.groupby("Brands")["Transaction_count"].sum())
    A_user_Y_group.reset_index(inplace=True)

    fig_bar_1 = px.bar(A_user_Y_group, x= "Brands", y= "Transaction_count",
                    title= f"{year} BRANDS AND TRANSACTION COUNT", width= 800, 
                    color_discrete_sequence= px.colors.sequential.Blues_r, hover_name= "Brands")

    fig_bar_1.show()

    return A_user_Y

In [7]:
def Agg_user_plot_2(df, quarter):

    A_user_Y_Q  = df[df["Quarter"] == quarter]
    A_user_Y_Q.reset_index(drop= True, inplace= True)

    A_user_Y_Q_group = pd.DataFrame(A_user_Y_Q.groupby("Brands")["Transaction_count"].sum()) 
    A_user_Y_Q_group.reset_index(inplace=True)


    fig_bar_2 = px.bar(A_user_Y_Q_group, x= "Brands", y= "Transaction_count",
                        title= f"{quarter} QUARTER, BRANDS AND TRANSACTION COUNT", width= 800, 
                        color_discrete_sequence= px.colors.sequential.Blues_r, hover_name= "Brands")

    fig_bar_2.show()

    return A_user_Y_Q

In [8]:
def Agg_user_plot_3(df, state):
    Agg_user_Y_Q_S = df[df["States"] == state]
    Agg_user_Y_Q_S.reset_index(drop=True, inplace=True)

    fig_line_3 = px.line(Agg_user_Y_Q_S, x= "Brands", y= "Transaction_count", hover_data= "Percentage",
                        title= f"{state.upper()} BRANDS, TRANSACTION COUNT AND PERCENTAGE ", width=1000, markers=True)

    fig_line_3.show()

### MAP FUNCTIONS

In [9]:
def Map_insu_Districts(df, state):


    tacy = df[df["States"] == state]
    tacy.reset_index(drop=True, inplace=True)

    tacy_group = tacy.groupby("Districts")[["Transaction_count", "Transaction_amount"]].sum()
    tacy_group.reset_index(inplace=True)

    fig_bar_1 = px.bar(tacy_group, x= "Transaction_amount", y= "Districts", orientation = "h",height = 600,
                            title= f"{state.upper()} DISTRICTS AND TRANSACTION AMOUNT", color_discrete_sequence= px.colors.sequential.Agsunset_r)
    fig_bar_1.show()

    fig_bar_2 = px.bar(tacy_group, x= "Transaction_count", y= "Districts", orientation = "h",height = 600,
                            title= f"{state.upper()} DISTRICTS AND TRANSACTION COUNT", color_discrete_sequence= px.colors.sequential.Burgyl_r)
    
    fig_bar_2.show()

In [10]:
def map_user_plot_1(df,year):

    M_user_Y  = df[df["Years"] == year]
    M_user_Y.reset_index(drop= True, inplace= True)

    M_user_Y_group = M_user_Y.groupby("States")[["RegisteredUsers", "AppOpens"]].sum()
    M_user_Y_group.reset_index(inplace=True)

    fig_line_4 = px.line(M_user_Y_group, x= "States", y= ["RegisteredUsers", "AppOpens"],
                        title= f" {year} REGISTERED USERS AND APPOPENS ", width=1000, height = 800, markers=True)

    fig_line_4.show()

    return M_user_Y

In [11]:
def map_user_plot_2(df,quarter):

    M_user_Y_Q  = df[df["Quarter"] == quarter]
    M_user_Y_Q.reset_index(drop= True, inplace= True)

    M_user_Y_Q_group = M_user_Y_Q.groupby("States")[["RegisteredUsers", "AppOpens"]].sum()
    M_user_Y_Q_group.reset_index(inplace=True)

    fig_line_5 = px.line(M_user_Y_Q_group, x= "States", y= ["RegisteredUsers", "AppOpens"],
                        title= f"{df['Years'].min()} YEAR {quarter} QUARTER REGISTERED USERS AND APPOPENS ", width=1000, 
                        height = 800, markers=True, color_discrete_sequence= px.colors.sequential.Rainbow_r)

    fig_line_5.show()

    return M_user_Y_Q

In [12]:
def map_user_plot_3(df,state):
    M_user_Y_Q_S  = df[df["States"] == state]
    M_user_Y_Q_S.reset_index(drop= True, inplace= True)

    Fig_map_user_bar_1 = px.bar(M_user_Y_Q_S, x= "RegisteredUsers", y= "Districts",
                                orientation= "h", title= "REGISTERED USER",
                                height= 800, color_discrete_sequence= px.colors.sequential.haline_r)

    Fig_map_user_bar_1.show()

    Fig_map_user_bar_2 = px.bar(M_user_Y_Q_S, x= "AppOpens", y= "Districts",
                                orientation= "h", title= "APPOPENS",
                                height= 800, color_discrete_sequence= px.colors.sequential.Magenta_r)

    Fig_map_user_bar_2.show()

### TOP FUNCIONS

In [13]:
def top_ins_plot_1(df,state):
    T_ins_Y  = df[df["States"] == state]
    T_ins_Y.reset_index(drop= True, inplace= True)

    fig_top_ins_bar_1 = px.bar(T_ins_Y, x= "Quarter", y= "Transaction_amount", hover_data= "Pincodes",
                            title= "TRANSACTION AMOUNT", height= 800, color_discrete_sequence= px.colors.sequential.Purpor_r)

    fig_top_ins_bar_1.show()

    fig_top_ins_bar_2 = px.bar(T_ins_Y, x= "Quarter", y= "Transaction_count", hover_data= "Pincodes",
                            title= "TRANSACTION COUNT", height= 800, color_discrete_sequence= px.colors.sequential.algae_r)

    fig_top_ins_bar_2.show()

In [14]:
def top_user_plot_1(df,year):
    T_user_Y  = df[df["Years"] == year]
    T_user_Y.reset_index(drop= True, inplace= True)

    T_user_Y_group = pd.DataFrame(T_user_Y.groupby(["States", "Quarter"])["RegisteredUsers"].sum())
    T_user_Y_group.reset_index(inplace=True)

    fig_top_user_plot_1 = px.bar(T_user_Y_group, x= "States", y= "RegisteredUsers", color= "Quarter",
                            width= 1000, height= 800, color_discrete_sequence = px.colors.sequential.Bluered_r,
                            hover_name= "States", title= f"{year} REGISTERED USERS")

    fig_top_user_plot_1.show()

    return T_user_Y

In [15]:
def top_user_plot_2(df,state):
    T_user_Y_S = df[df["States"] == state]
    T_user_Y_S.reset_index(drop= True, inplace= True)

    fig_top_user_plot_2 = px.bar(T_user_Y_S, x= "Quarter", y= "RegisteredUsers",
                                title = "REGISTERED USERS, PINCODES, QUARTER",
                                width= 1000, height= 800, color= "RegisteredUsers", hover_data= "Pincodes",
                                color_continuous_scale= px.colors.sequential.Magenta_r)

    fig_top_user_plot_2.show()

### AGGREGATED_INSURANCE

In [ ]:
tac_y = transaction_amount_count_Y(A_insurance, 2022)

In [ ]:
transaction_amount_count_Y_Q(tac_y, 1)

### AGGREGATED_TRANSACTION

In [ ]:
Agg_tran_tac_y = transaction_amount_count_Y(A_transaction, 2022)

In [ ]:
Agg_tran_type(Agg_tran_tac_y, "Tamil Nadu")

In [ ]:
Agg_tran_tac_y_Q = transaction_amount_count_Y_Q(Agg_tran_tac_y, 3)

In [ ]:
Agg_tran_type(Agg_tran_tac_y_Q, "Tamil Nadu")

### AGGREGATED USER

In [ ]:
Agg_user_Y= Agg_user_plot_1(A_user, 2018)

In [ ]:
Agg_user_Y_Q = Agg_user_plot_2(Agg_user_Y,3)

In [ ]:
Agg_user_plot_3(Agg_user_Y_Q, "Tamil Nadu")

In [ ]:
Agg_user_Y_Q

In [ ]:
Agg_user_Y

### MAP INSURANCE

In [ ]:
Map_insu_tac_y = transaction_amount_count_Y(M_insurance, 2022)

In [ ]:
Map_insu_Districts(Map_insu_tac_y, "Tamil Nadu")

In [ ]:
Map_insu_tac_y_Q = transaction_amount_count_Y_Q(Map_insu_tac_y, 3)

In [ ]:
Map_insu_Districts(Map_insu_tac_y_Q, "Tamil Nadu")

### MAP TRANSACTION

In [ ]:
Map_tran_tac_y = transaction_amount_count_Y(M_transaction, 2022)

In [ ]:
Map_insu_Districts(Map_tran_tac_y, "Tamil Nadu")

In [ ]:
Map_tran_tac_y_Q = transaction_amount_count_Y_Q(Map_tran_tac_y, 3)

In [ ]:
Map_insu_Districts(Map_tran_tac_y_Q, "Tamil Nadu")

### MAP USER

In [ ]:
Map_user_Y = map_user_plot_1(M_user, 2020)

In [ ]:
Map_user_Y_Q = map_user_plot_2(Map_user_Y, 2)

In [ ]:
map_user_plot_3(Map_user_Y_Q, "Tamil Nadu")

### TOP INSURANCE

In [ ]:
Top_insu_tac_y = transaction_amount_count_Y(T_insurance, 2022)

In [ ]:
top_ins_plot_1(T_insurance,"Tamil Nadu")

In [ ]:
top_ins_tac_y_Q = transaction_amount_count_Y_Q(Top_insu_tac_y, 2)

### TOP TRANSACTION

In [ ]:
top_tran_tac_y = transaction_amount_count_Y(T_transaction, 2023)

In [ ]:
top_ins_plot_1(top_tran_tac_y,"Tamil Nadu")

In [ ]:
top_tran_tac_y_Q = transaction_amount_count_Y_Q(top_tran_tac_y, 2)

### TOP USER

In [ ]:
T_user_Y = top_user_plot_1(T_user,2023)

In [ ]:
top_user_plot_2(T_user_Y, "Tamil Nadu")